aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.7.0
asgiref==3.9.1
asttokens==2.4.1
async-timeout==5.0.1
attrs==24.2.0
azure-ai-documentintelligence==1.0.0b4
azure-ai-projects==1.0.0b3
azure-ai-translation-document==1.1.0b1
azure-common==1.1.28
azure-core==1.32.0
azure-core-tracing-opentelemetry==1.0.0b12
azure-cosmos==4.9.0
azure-identity==1.19.0
azure-monitor-opentelemetry==1.8.1
azure-monitor-opentelemetry-exporter==1.0.0b42
azure-search-documents==11.5.2
azure-storage-blob==12.24.1
backoff==2.2.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.8
colorama==0.4.6
comm==0.2.2
contourpy==1.3.1
cryptography==44.0.0
cycler==0.12.1
debugpy==1.8.8
decorator==5.1.1
distro==1.9.0
executing==2.1.0
fastapi==0.115.6
feedparser==6.0.11
fixedint==0.1.6
fonttools==4.55.3
frozenlist==1.5.0
greenlet==3.2.4
griffe==1.7.3
grpcio==1.74.0
h11==0.14.0
h2==4.3.0
hpack==4.1.0
httpcore==1.0.6
httpx==0.28.1
httpx-sse==0.4.0
hyperframe==6.1.0
idna==3.10
importlib_metadata==8.7.0
ipykernel==6.29.5
ipython==8.29.0
isodate==0.7.2
jedi==0.19.2
jiter==0.7.0
jsonpath-ng==1.7.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.7.2
kiwisolver==1.4.7
loguru==0.7.3
marshmallow==3.26.1
matlab==0.1
matplotlib==3.10.0
matplotlib-inline==0.1.7
mcp==1.9.1
mem0ai==0.1.117
msal==1.31.1
msal-extensions==1.2.0
msrest==0.7.1
multidict==6.1.0
nest-asyncio==1.6.0
numpy==2.1.3
oauthlib==3.3.1
openai==1.97.1
openai-agents==0.0.16
opencv-python==4.10.0.84
opentelemetry-api==1.37.0
opentelemetry-instrumentation==0.58b0
opentelemetry-instrumentation-asgi==0.58b0
opentelemetry-instrumentation-dbapi==0.58b0
opentelemetry-instrumentation-django==0.58b0
opentelemetry-instrumentation-fastapi==0.58b0
opentelemetry-instrumentation-flask==0.58b0
opentelemetry-instrumentation-openai-v2==2.1b0
opentelemetry-instrumentation-psycopg2==0.58b0
opentelemetry-instrumentation-requests==0.58b0
opentelemetry-instrumentation-urllib==0.58b0
opentelemetry-instrumentation-urllib3==0.58b0
opentelemetry-instrumentation-wsgi==0.58b0
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.37.0
opentelemetry-semantic-conventions==0.58b0
opentelemetry-util-http==0.58b0
packaging==23.2
pandas==2.2.3
parso==0.8.4
pillow==11.0.0
pillow_heif==0.20.0
platformdirs==4.3.6
ply==3.11
portalocker==2.10.1
posthog==6.7.4
prompt_toolkit==3.0.48
propcache==0.2.1
protobuf==5.29.5
psutil==6.1.0
pure_eval==0.2.3
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.9.1
pydantic_core==2.27.2
pygame==2.6.1
Pygments==2.18.0
PyJWT==2.10.1
PyMySQL==1.1.1
pyparsing==3.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-multipart==0.0.20
pytz==2025.2
pywin32==308
PyYAML==6.0.2
pyzmq==26.2.0
qdrant-client==1.15.1
referencing==0.36.2
requests==2.32.3
requests-oauthlib==2.0.0
rpds-py==0.25.1
seaborn==0.13.2
sgmllib3k==1.0.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.43
sse-starlette==2.3.5
stack-data==0.6.3
starlette==0.41.3
tornado==6.4.1
tqdm==4.67.0
traitlets==5.14.3
types-requests==2.32.0.20250515
typing-inspection==0.4.1
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.2.3
uvicorn==0.32.1
wcwidth==0.2.13
websockets==10.0
win32_setctime==1.2.0
wrapt==1.17.3
yarl==1.18.3
zipp==3.23.0
